.mapboxgl-popup {
  &-tip {
    display: none !important; // remove arrow
  }

  &-content {
    padding: 0 !important;
    border-radius: 0 !important; // no rounded corners
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background: #030912A3; // same translucent bg
    backdrop-filter: blur(12px); // blur effect
    border: 1px solid #36BFFA3D; // same border color
    top: -40px !important;
    color: white
  }

  &-close-button {
    font-size: 30px;
    top: 12px !important;
    right: 15px !important;
    color: white !important; // make close button visible on dark background
  }
}
